@import 'setup';
@import 'utils';
@import 'typography';
@import 'components/section';
@import 'components/header';


ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.button {
  background: $green;
	color: $white;
	border-radius: 8px;
	white-space: nowrap;
}

.wrapper {
	width: 80%;
	margin: 0 auto;

	@media (max-width: 1000px) {
		width: 95%;
	}
	
}

.inner-wrapper {
	width: 75%;
	margin: 0 auto;
	
	@media (max-width: 1000px) {
		width: 100%;
	}
}


.wrapper-divider {
	display: flex;
	flex-direction: row;

	@media (max-width: 1000px) {
		flex-direction: column;
	}
}

.wrapper-divider > * {
	flex: 1;
}

.wrapper-divider > *:first-child {
	margin-right: 30px;

	@media (max-width: 1000px) {
		margin-right: 0;
		margin-bottom: 30px;
	}
}

.txt-center {
	@media (max-width: 1000px) {
		text-align: center;
	}
}

