@import 'setup';
@import 'utils';
@import 'typography';
@import 'components/header';
@import 'components/section';


// html {
//   font-size: 62.5%;
// }
li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.button {
  background: $green;
	color: $white;
  border-radius: 8px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.inner-wrapper {
	width: 75%;
	margin: 0 auto;
}


.wrapper-divider {
	display: flex;
	flex-direction: row;

	@media (max-width: 1050px) {
		flex-direction: column;
	}
}

.wrapper-divider > * {
	flex: 1;
}

.wrapper-divider > *:first-child {
	margin-right: 30px;

	@media (max-width: 1050px) {
		margin-right: 0;
		margin-bottom: 30px;
	}
}

.txt-center {
	@media (max-width: 1050px) {
		text-align: center;
	}
}

