article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: calc(1em + 1vw); }

body {
  font-family: "Arimo", sans-serif; }

h2, h3, h4, p {
  margin: 0; }

h2, h3, p {
  color: #333; }

h1 {
  font-size: 2.3em;
  color: #fff; }

h2 {
  font-size: 1.7em;
  font-weight: 600; }

h4 {
  font-size: 0.9em;
  letter-spacing: 0.05em;
  color: #6AAB49; }

p {
  font-size: 0.9em;
  line-height: 1.6; }

.carousel-cell p {
  font-size: 0.5em;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: #A9A9A9; }

a {
  font-size: 1.2em; }

.see-all a {
  color: #4A90E2;
  font-size: 1em; }

nav a {
  color: #333; }

nav a,
.header-button a {
  font-size: 0.7em; }

.greetings {
  margin: 100px 0; }

.middle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mid {
  padding: .4rem 3rem; }

.two-article h2 {
  margin-bottom: 2rem; }
  @media (max-width: 1000px) {
    .two-article h2 {
      margin-top: 2rem; } }

.two-img {
  margin-top: 2rem; }

@media (max-width: 1000px) {
  .two-img img {
    width: 50%;
    margin: 0 auto; } }

@media (max-width: 800px) {
  .two-img img {
    width: 70%; } }

.middle-header {
  width: 50%;
  margin-top: 4rem; }
  @media (max-width: 1000px) {
    .middle-header {
      width: 100%; } }

.one-article {
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.one-article p:first-child {
  margin-bottom: 1.7rem; }

@media (max-width: 1000px) {
  .one-img img {
    width: 70%;
    margin: 0 auto; } }

@media (max-width: 800px) {
  .one-img img {
    width: 80%; } }

.lrg-article {
  margin-top: 4rem; }

.lrg-article h2 {
  margin-bottom: 1rem; }

.lrg-img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  margin-top: 3rem; }

.story-article {
  margin-top: 4rem; }

.story-article h2 {
  width: 52%;
  text-align: center; }

.button-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0; }
  @media (max-width: 1320px) {
    .button-divider {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.button-divider h2 {
  width: 50%; }
  @media (max-width: 1320px) {
    .button-divider h2 {
      width: 100%; } }

.bottom {
  padding: .6rem 1.3rem; }

@media (max-width: 1320px) {
  .bottom-button {
    margin: 2rem 0; } }

.border-div {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #F7BC5A; }

.carousel-cell {
  padding: 0 .4rem;
  width: 30%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 2px #ccc;
          box-shadow: 0 0 15px 2px #ccc;
  margin: 0.5rem; }
  @media (max-width: 1320px) {
    .carousel-cell {
      width: 45%; } }
  @media (max-width: 450px) {
    .carousel-cell {
      width: 95%; } }

.customer-img {
  padding: .2rem; }

.carousel-cell p:nth-of-type(1) {
  height: 150px;
  margin-top: 1rem; }
  @media (max-width: 1000px) {
    .carousel-cell p:nth-of-type(1) {
      height: 100px; } }
  @media (max-width: 450px) {
    .carousel-cell p:nth-of-type(1) {
      height: 50px; } }

.carousel-cell p:nth-of-type(2) {
  text-align: end;
  margin-bottom: .5rem; }

.see-all {
  text-align: center;
  margin: 2.5em 0; }

header {
  position: relative; }

.responsive-nav {
  position: fixed;
  right: 0%;
  top: -900px;
  background: rgba(250, 250, 250, 0.9);
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin: 0;
  z-index: 30; }
  @media (max-height: 700px) {
    .responsive-nav {
      padding-top: 100px; } }
  .responsive-nav li {
    text-align: center;
    padding: 40px; }
    .responsive-nav li a {
      padding: 30px;
      font-size: 1em;
      font-weight: 600; }

.active-nav {
  top: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  @media (min-width: 751px) {
    .active-nav {
      display: none; } }

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 8vh; }

.logo-img {
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
  z-index: 10;
  max-width: 170px; }

.main-nav {
  margin: 0 auto; }
  @media (max-width: 750px) {
    .main-nav {
      display: none; } }
  .main-nav ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.main-nav a {
  padding: 0.3rem; }

.main-nav li:not(:last-child) {
  margin-right: 1rem; }

.top {
  padding: 0.15rem 1.2rem; }

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 750px) {
    .header-button {
      display: none; } }

.header-img {
  margin-top: 0.9rem;
  position: relative;
  z-index: -9; }

.header-img h1 {
  position: absolute;
  white-space: nowrap;
  top: 60%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%); }
  @media (max-width: 1000px) {
    .header-img h1 {
      top: 40%; } }
  @media (max-width: 400px) {
    .header-img h1 {
      display: none; } }

.hamburger-menu {
  z-index: 30;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transform: translateY(50%);
          transform: translateY(50%); }
  @media (min-width: 751px) {
    .hamburger-menu {
      display: none; } }

.hamburger {
  width: 50px;
  height: 4px;
  background: #333;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: #333;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.hamburger:before {
  top: 16px; }

.hamburger:after {
  top: -16px; }

.hamburger-menu.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0); }

.hamburger-menu.active .hamburger:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0; }

.hamburger-menu.active .hamburger:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.button {
  background: #6AAB49;
  color: #fff;
  border-radius: 8px;
  white-space: nowrap; }

.wrapper {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .wrapper {
      width: 95%; } }

.inner-wrapper {
  width: 75%;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .inner-wrapper {
      width: 100%; } }

.wrapper-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 1000px) {
    .wrapper-divider {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.wrapper-divider > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.wrapper-divider > *:first-child {
  margin-right: 30px; }
  @media (max-width: 1000px) {
    .wrapper-divider > *:first-child {
      margin-right: 0;
      margin-bottom: 30px; } }

@media (max-width: 1000px) {
  .txt-center {
    text-align: center; } }
