.greetings {
  margin: 100px 0;
}

.middle-button {
  display: flex;
  margin-bottom: 4rem;
  justify-content: center;
}

.mid {
  padding: .4rem 3rem;
}

.two-article h2 {
  margin-bottom: 2rem;

  @media (max-width: 1000px) {
    margin-top: 2rem;
  }
}

.two-img {
  margin-top: 2rem;
}

.two-img img {
  @media (max-width: 1000px) {
    width: 50%;
    margin: 0 auto;
  }
  @media (max-width: 800px) {
    width: 70%;
  }
}

.middle-header {
  width: 50%;
  margin-top: 4rem;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.one-article {
  margin-top: 1rem;
  align-items: center;
}

.one-article p:first-child {
  margin-bottom: 1.7rem;
}

.one-img img{
  @media (max-width: 1000px) {
    width: 70%;
    margin: 0 auto;
  }
  @media (max-width: 800px) {
    width: 80%;
  }
}

.lrg-article {
  margin-top: 4rem;
}

.lrg-article h2 {
  margin-bottom: 1rem;
}

.lrg-img {
  transform: scale(1.04);
  margin-top: 3rem;
}

.story-article {
  margin-top: 4rem;
}

.story-article h2 {
  width: 52%;
  text-align: center;
}

.button-divider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;

  @media (max-width: 1320px) {
    flex-direction: column;
  }
}

.button-divider h2 {
  width: 50%;

  @media (max-width: 1320px) {
    width: 100%;
  }
}

.bottom {
  padding: .6rem 1.3rem;
}

.bottom-button {
  
  @media (max-width: 1320px) {
    margin: 2rem 0;
  }
}

.border-div {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #F7BC5A;
}

.carousel-cell {
  padding: 0 .4rem;
  width: 30%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 15px 2px #ccc; 
  margin: 0.5rem;

  @media (max-width: 1320px) {
    width: 45%;
  }

  @media (max-width: 450px) {
    width: 95%;
  }
}

.customer-img {
  padding: .2rem;
}

.carousel-cell p:nth-of-type(1) {
  height: 150px;
  margin-top: 1rem;

  @media (max-width: 1000px) {
    height: 100px
  }

  @media (max-width: 450px) {
    height: 50px;
  }
}

.carousel-cell p:nth-of-type(2) {
  text-align: end;
  margin-bottom: .5rem;
}

.see-all {
  text-align: center;
  margin: 2.5em 0;
}

